body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b2b3b;
    color: #f4f5f6;
    font-family: Arial;
    font-size: 17px;
  
  }
  
  input[type="submit"]{
    background-color:#0E509A;
    width:20%;
    height:1 rem auto;
    font-size:1rem;
    color:#fff; 
  
  }


  